<nav class="navbar navbar-expand-lg bg-primary text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stock Search</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            href="/wishlist"
            routerLinkActive="router-link-active"
            >Wishlist</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/portfolio"
            href="/portfolio"
            routerLinkActive="router-link-active"
            >Portfolio</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
