<mat-toolbar>
  <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button> -->
  <span>Stock Search</span>
  <span class="example-spacer"></span>
  <div class="btndiv">
    <a  routerLink="/search/homme" routerLinkActive="router-link-active">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Search
      </button>
    </a>
    <a routerLink="/whishlist" routerLinkActive="router-link-active">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        Whishlist
      </button>
    </a>
    <a href="#" routerLink="/search/homme" routerLinkActive="router-link-active">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        Portfolio
      </button>
    </a>
  </div>
</mat-toolbar>
