mat-toolbar {
  background-color: #19239b;
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}
.btndiv button {
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: transparent;
  color: #7c81c3;
}
.btndiv {
  display: flex;
  gap: 16px;
}
nav{
  color: white; 
}
a {
  
  color: white; 
}