<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
<div class="container justify-content-center d-flex text-center mt-5 mb-5 "> 
    <form class="example-form">
      <h1>Stock Search</h1>
      <mat-form-field class="">
        <input
          type="text"
          class="inputField"
          placeholder="Pick one"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">{{
            option
          }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{
        option
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
