<ng-container>
  <div class="container mt-5">
    <h2>My Portfolio</h2>
    <h6>Money in Wallet: $19961.65</h6>
    <div class="card">
      <div class="card-header d-flex">
        <p>AAPL</p>
        <p>Apple Inc</p>
      </div>
      <div class="card-body">
        <table class="table table-striped" style="border-bottom: 1px solid">
          <thead>
            <tr>
              <th scope="col">Quantity:</th>
              <th scope="col">Avg.Cost / Share:</th>
              <th scope="col">Total Cost:</th>
              <th scope="col">Change:</th>
              <th scope="col">Current Price:</th>
              <th scope="col">Market Value:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5.00</td>
              <td>184.37</td>
              <td>921.85</td>
              <td>0.00</td>
              <td>184.37</td>
              <td>921.85</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-body-secondary d-flex">
        <button class="btn btn-primary">Buy</button>
        <button class="btn btn-danger mx-2">Sell</button>
      </div>
    </div>
  </div>
</ng-container>
